name: Trident Build

on:
  push:
    paths:
      - "trident-distrowith/**"
  pull_request:
    paths:
      - "trident-distrowith/**"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: trident-distrowith

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout trident repo
        run: ./checkout.sh

      - name: Run make command
        working-directory: trident-distrowith/trident
        env:
          BUILD_TYPE: stable
        run: make images

      - name: Run docker images
        run: docker images
